VITE_APPWRITE_ENDPOINT=https://appwrite.voidparadox.site/v1
VITE_APPWRITE_PROJECT_ID=6ac4e13100294f1772ca
VITE_APPWRITE_DATABASE_ID=6ac4e17100264f612cc5
VITE_APPWRITE_STORAGE_ID=6ac4e181001eb9fa6c40

# Numele/ID-ul colectiilor in Appwrite Database
VITE_APPWRITE_CATCHES_COLLECTION_ID=catches
VITE_APPWRITE_MILESTONES_COLLECTION_ID=milestones

# API Key - Not used by the frontend Client SDK directly, dar necesar pentru eventuale functii server-side.
APPWRITE_API_KEY=YOUR_APPWRITE_API_KEY
